.header,.hero,.body, .bar ,.footer{
	background-color: gray;
	margin-bottom: 10px;
}
.box{
	min-height: 100px;
	background-color: red;
	margin-bottom: 10px;
	font-size: 70px;
	color: white;
}
.th-black{
	background-color: orange;

}
.f-green{
	background-color: green;

}